html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
}
button {
  font-family: 'Elsie Swash Caps', cursive;
  color: rgb(43, 8, 8);
  text-transform: uppercase;
  margin-top: 200px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: none;
  font-size: 70px;
  cursor: pointer;
  outline: none;
}
.button_one {
  margin-right: 50px;
  background-color: rgb(167, 19, 122);
}
.button_two {
  margin-left: 50px;
  background-color: rgb(71, 71, 168);
}
